@{
    ViewBag.Title = "LIBRARY";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Library.Data.Models.Patron
<style>
    .signup {
        margin-bottom: 150px;
    }

    .signup-content {
        padding: 75px 0;
    }

    .signup-form, .signup-image, .signin-form, .signin-image {
        width: 50%;
        overflow: hidden;
    }

    .signup-image {
        margin: 0 55px;
    }

    .form-title {
        margin-bottom: 33px;
    }

    .signup-image {
        margin-top: 45px;
    }

    figure {
        margin-bottom: 50px;
        text-align: center;
    }
    input {
        width: 100%;
        display: block;
        border: none;
        border-bottom: 1px solid #999;
        padding: 6px 30px;
        font-family: Poppins;
        box-sizing: border-box;
    }
    .form-submit {
        display: inline-block;
        background: #6dabe4;
        color: #fff;
        border-bottom: none;
        width: auto;
        padding: 15px 39px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;

        margin-top: 25px;
        cursor: pointer;
    }

</style>
<section class="sign-in">
    <div class="signin-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="signin-image" style="padding-top: 100px">
                        <figure><img src="~/Assets/register/images/login2.png" alt="sing up image" style="width: 280px; height: 390px"></figure>
                        <a  asp-controller="Patron" asp-action="RegisterForm" class="signup-image-link">Doesn't have account? <br /> Create an account!</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="signin-form" style="padding-top: 100px">
                        <h2 class="form-title">Login</h2>
                        <p style="color: red" class="animated fadeIn">@ViewBag.error</p>
                        
                        <form method="POST" class="register-form" id="login-form" asp-controller="Patron" asp-action="SubmitLogin">
                            <div class="form-group">
                                <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" value="" asp-for="Username" Name="Username" placeholder="Your Name" required />
                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" value="" asp-for="Password" Name="Password" id="your_pass" placeholder="Password" required />
                            </div>


                            <div class="form-group form-button">

                                <input type="submit" name="signin" id="signin" class="form-submit" value="Log in" />

                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>